 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');


@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-VariableFont_wght.woff2');
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: "Raleway-Italic";
    src: url('../fonts/Raleway-Italic-VariableFont_wght.woff2');
    src:url('../fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}

body {
    width: 1160px;
    margin: auto;
    border: auto;
}

p {
    font-family: "Raleway", serif;
}

.paragraph--white {
    font-family: "Raleway", serif;
    color: white;
}

/* l'ensemble des balises dans mon header seront centré */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: brown;
}

/* toutes balise comportant la classe title en l'occurence les titres auront la police lato sans empattement et en gras*/

.title {
    font-family: 'Lato', serif;
}

.title__bold {
    font-family: 'Lato', serif;
    font-weight: bold;
}

.title__bold--white {
    font-family: 'Lato', serif;
    font-weight: bold;
    color: white;
}

.title--white {
    font-family: 'Lato', serif;
    color: white;
}

/* l'image de profile sera arrondie*/

.picture_profile {
    border-radius: 100%;
    height: 205px;
    width: 200px;
}

.picture_profile:hover{
    cursor: zoom-in;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
}