 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');


@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-VariableFont_wght.woff2');
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: "Raleway-Italic";
    src: url('../fonts/Raleway-Italic-VariableFont_wght.woff2');
    src:url('../fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}

p {
    font-family: "Raleway", serif;
}

/* toutes balise comportant la classe title en l'occurence les titres auront la police lato sans empattement et en gras*/

.title {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}